<!--<h1>Home#index</h1>-->
<% if current_user %>
  <h5>Welcome <%= current_user.name %></h5><br>
  <% if current_user.role == "admin" %>
    <h7>All Users on the Platform</h7><br>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
      </tr>
      </thead>

      <tbody>

      <% @users = User.all %>
      <% @users.each do |user| %>
        <% if user.role != "admin" %>
          <tr>
            <td class="align-middle"><%= user.name %></td>
            <td class="align-middle"><%= user.email %></td>
            <td class="align-middle"><%= user.phone_number %></td>
            <td class="align-middle"><%= user.address %></td>
        <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>
    <% end %>
<% else %>
  <h5>Sign In or Sign Up</h5>
<% end %>





